name: React CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with:
        node-version: '20' # Specify the Node.js version, e.g., '18', '20', or '22'
        cache: 'npm' # Caches dependencies to speed up subsequent runs

    - name: Install dependencies
      run: npm install

    - name: Build application
      run: npm run build

    - name: Build application
      run: echo "end of Pipeline"
